:root{
	--black_T_50: rgba(0,0,0,0.5);
}


.btn,
.counter,
.option-bar,
.reference,
.imgs, 
.imgs>img,  
.slideShow-container, 
.slides-container,
.thumbnails-popUp, 
.title{
	position: absolute;
}

.slideShow-container{
	background-color: rgba(255,255,255,0.3);
	height: 100%;
	left: 0%;
	top: 12%;
	width: 100%;	
}
.slides-container{
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}
.btn{
	background-repeat: no-repeat;
	background-color: var(--black_T_50);
	cursor: pointer;
	height: 100%;
	top: 0;
	opacity: 0.3;
	width: 3%;
	align-items: center;
}
.option-bar{
	background-color: var(--black_T_50);
	height: 6%;
	top: 94%;
	width: 100%;
}
.play{
	background-image: url(https://png.icons8.com/nolan/50/000000/circled-play.png);
	left: 75%;
}
.pause{
	background-image: url(https://png.icons8.com/nolan/50/000000/circled-pause.png);
	left: 75%;
}
.prev{
	background-image: url(https://png.icons8.com/nolan/50/000000/back.png);
	left: 65%;
}
.next{
	background-image: url(https://png.icons8.com/nolan/50/000000/forward.png);
	left: 85%;
}
.thumbnails{
	background-image: url(https://png.icons8.com/nolan/50/000000/stack-of-photos.png);
	left: 23.5%;
}
.info{
	background-image: url(https://png.icons8.com/nolan/50/000000/plus-math.png);
	left: 10%;
}
.counter{
	color: rgba(255,255,255,1);
	font-size: 255%;
	height: 100%;
	left: 45%;
	margin: auto;
	text-align: center;
	top: 0;
	width: 10%;
}
.intro{
	padding: 10px;
}
.slide{
	height: 100%;
	overflow: hidden;
	width: 100%
}
.slide>img{
	bottom: 0;
	display: block;
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
}
.thumbnails-popUp{
	background-color: var(--black_T_50);
	bottom: 6%;
	display: table;
	display: none;
	height: 15%;
	width: 100%;
}
.title{
	background-color: rgba(255,255,255,0.69);
	text-align: center;
	top: 0%;
	width: 100%;
}
.paragraph{
	background-color: rgba(255,255,255,0.42);
	display: none;
	height: 20%;
	left: 1%;
	padding: 10px;
	position: absolute;
	top: 71%;
	text-align: justify;
	width: 47%;
}
.thumbnails-imgs{
	float: left;
	width: 20%;
}
.thumbnails-imgs>img{
	cursor: pointer;
	height:	189px;
	opacity: 0.6;
	width: 100%;
}

.actual>img, 
.btn:hover,
img:hover{
	opacity: 1;
}
.reference{
	color: rgba(255,255,255,1);;
	background-color: rgba(0,0,255,0.35);
	display: none;
	height: auto;
	left: 35%;
	top: 8%;
}
