:root{
	--black_T_50: rgba(0,0,0,0.5);
	--white_100: rgba(255,255,255,1);
}


.button,
.counter,
.optionBar,
.slide__reference,
.imgs,
.slide__paragraph, 
.slideshow,
.thumbnails, 
.slide__title{
	position: absolute;
}

.slideshow{
	background-color: rgba(255,255,255,0.3);
	height: 100%;
	left: 0%;
	width: 100%;	
}
.slidesContainer{
	height: 100%;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
}
.button{
	background-color: var(--black_T_50);
	background-position: center;
	background-repeat: no-repeat;
	border-color: var(--black_T_50);
	cursor: pointer;
	height: 100%;
	opacity: 0.3;
	top: 0;
	width: 4%;
}
.optionBar{
	background-color: var(--black_T_50);
	height: 6%;
	top: 94%;
	width: 100%;
}
#playBtn{
	left: 75%;
}

.button--play{
	background-image: url(https://png.icons8.com/nolan/50/000000/circled-play.png);
}
.button--pause{
	background-image: url(https://png.icons8.com/nolan/50/000000/circled-pause.png);
}
.button__prev{
	background-image: url(https://png.icons8.com/nolan/50/000000/back.png);
	left: 65%;
}
.button__next{
	background-image: url(https://png.icons8.com/nolan/50/000000/forward.png);
	left: 85%;
}
.button__thumbnails{
	background-image: url(https://png.icons8.com/nolan/50/000000/stack-of-photos.png);
	left: 23.5%;
}
.button__info{
	background-image: url(https://png.icons8.com/nolan/50/000000/plus-math.png);
	left: 10%;
}
.counter{
	color: var(--white_100);
	font-size: 255%;
	height: 100%;
	left: 45%;
	margin: auto;
	text-align: center;
	top: 0;
	width: 10%;
}
.intro{
	padding: 10px;
}
.slide{
	height: 100%;
	overflow: hidden;
	width: 100%
}
.slide>img{
	bottom: 0;
	display: block;
	height: 100%;
	position: initial;
	width: 100%;
}
.thumbnails{
	background-color: var(--black_T_50);
	bottom: 6%;
	display: table;
	display: none;
	height: 20%;
	width: 100%;
}
.slide__title{
	background-color: rgba(255,255,255,0.69);
	text-align: center;
	top: 0%;
	width: 100%;
}
.slide__paragraph{
	background-color: rgba(255,255,255,0.42);
	display: none;
	height: 20%;
	left: 1%;
	padding: 10px;
	top: 71%;
	text-align: justify;
	width: 47%;
}
.thumbnails__imgs{
	float: left;
	width: 20%;
}
.thumbnails__imgs>img{
	cursor: pointer;
	height:	189px;
	opacity: 0.6;
	width: 100%;
}

.thumbnails__imgs--actual>img, 
.button:hover,
.thumbnails__imgs>img:hover{
	opacity: 1;
}
.slide__reference{
	color: var(--white_100);
	background-color: rgba(0,0,255,0.35);
	display: none;
	height: auto;
	left: 35%;
	top: 8%;
}

@media screen and (max-device-width: 732px){
	.slideshow{
		height: 44%
	}

	.button{
		width: 5%;
	}
	
}